// Common button styles (layout/size)
.button-elevated, .button-filled, .button-tonal, .button-outlined, .button-text {
    // Flexbox for text & icon
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    align-items: center;
    justify-content: flex-start;

    // Basic button shape
    height: 40px;
    width: fit-content;
    padding: 0px 24px;
    z-index: 0;
    @include round(20px);

    // Button text
    font-weight: $label-font;
    font-size: $label-large;
    text-decoration: none;

    // Button icon
    > i {
        margin-left: -8px;
        font-size: 18px;
    }
}

// ========== ELEVATED BUTTON ==========
// Enabled state
.button-elevated {
    background-color: $surface-1;
    box-shadow: $shadow;
    color: $primary;
    @include state_layer($primary, 20px);
}
// Disabled state
.button-elevated[disabled] {
    // Background colour is 12% opacity, while foreground is 38%
    // Need to use rgba to set differing opacities

    // Get rgb of --on-surface from red(), green(), blue() functions
    $colour: rgb(red($on-surface), green($on-surface), blue($on-surface));

    // Background colour, w/ 12% opacity
    background-color: rgba($colour, .12);
    // Foreground colour, w/ 38% opacity
    color: rgba($colour, .38);
    box-shadow: none;

}
// Hover state
.button-elevated:not([disabled]) {
    background-color: $surface-2;
}

.button-filled {
    background-color: $primary;
    color: $on-primary;
    @include state_layer($on-primary, 20px);
}

.button-tonal {
    background-color: $secondary-container;
    color: $on-secondary-container;
    transition-duration: .4s;
    @include state_layer($on-secondary-container, 20px);

    // The tonal buttons' elevation changes on hover
    &:hover {
        box-shadow: $shadow;
    }
}

.button-outlined {
    border-style: solid;
    border-width: 1px;
    border-color: $outline;
    border-radius: 20px;

    color: $primary;
    @include state_layer($primary, 20px);
}

.button-text {
    color: $primary;
    @include state_layer($primary, 20px);
}
