// ========== STANDARD ICON BUTTON ==========
.button-icon {
    // Enabled state
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    color: $on-surface-variant;

    // State layer
    @include state_layer($on-surface-variant, 30px);
    // State layer has a specific size and position for icon buttons
    &::after {
        width: 40px;
        height: 40px;
        top: 4px;
        left: 4px;
    }

    // Icon
    > i {
        font-size: 24px;
        width: 24px;
        height: 24px;
        display: inline-block;
    }

    // Tooltip
    > p {
        white-space: nowrap;
        font-weight: $label-font;
        font-size: $label-small;
        color: $on-surface;
        background-color: $surface-5;

        opacity: 0;
        transition-duration: .6s;

        position: absolute;
        margin-top: 75px;
        padding: 1px 3px;
        @include round(5px);
    }

    // Disabled state
    @include disabled_state();
    // Hovered state
    @include hovered_state();
    // Tooltip hover state
    &:hover > p {
        opacity: 1;
        padding: 1px 7px;
    }
    // Focused state
    @include focused_state();
    // Pressed state
    @include pressed_state();
}
