@use "material/theme" as *;

// Navigation rail
.navigation-rail {
    @media (max-width: 599px) {
        // On small screens, change the nav rail to a nav bar
        //@extend .navigation-bar;
    }
    position: fixed;
    height: 100%;
    width: 80px;

    background-color: $surface-2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    row-gap: 12px;
    padding-top: 12px;

    // Before item to mask subpages (it's complicated)
    &::before {
        content: "";
        position: absolute;
        top: 0;
        display: block;
        background-color: $surface-2;
        height: 100%;
        width: 80px;
        z-index: -1;
    }

    // Hamburger menu
    > .hamburger {
        margin-bottom: 16px;
    }
    // FAB
    > .fab {
        margin-bottom: 70px;
    }

    // Actual navigation pages
    > a {
        width: 80px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        row-gap: 4px;

        text-decoration: none;

        // The labels for nav items in the navigation rail
        > p {
            color: $on-surface-variant;
            font-weight: $label-font;
            font-size: $label-medium;
            margin: 0px;
        }
        // The icons for nav items in the navigation rail
        > .icon {
            padding: 4px;
            font-size: 24px;
            color: $on-surface-variant;
            width: 56px;
            height: 32px;

            @include state_layer($on-surface-variant, 16px);
        }

        // Hover state
        @include hovered_state($state-hovered, false, icon);

        // Expand subpages, if they exist
        &:hover + .subpages {
            left: 80px;
        }
        // Focused state
        &:focus > .icon::after {
            opacity: $state-focused;
        }
        // Pressed state
        &:active > .icon::after {
            animation-name: pressed;
            animation-duration: .4s;
            animation-fill-mode: forwards;
        }
    }

    // The active page gets fancy stylings
    > #active-page {
        > p {
            color: $on-surface !important;
        }
        > .icon {
            color: $on-secondary-container !important;
            background-color: $secondary-container !important;
            @include round(16px);

            // State layer
            &::after {
                background-color: $on-surface !important;
            }
        }
    }
}

// The subpages for a navigation rail item
.subpages {
    --width: 200px !important;
    --item-gap: 5px !important;
    --item-height: 45px !important;

    z-index: -2;
    position: absolute;
    top: 0;
    left: calc(var(--width) * -1);

    transition-duration: .4s;

    border-style: solid !important;
    border-width: 0px !important;
    border-left-width: 1px !important;
    border-color: $outline-variant !important;

    // When they're hovered over, keep them expanded
    &:hover {
        left: 80px;
    }
}

// Colour active subpage
#active-subpage {
    color: $on-secondary-container !important;
    background-color: $secondary-container !important;
    @include round(28px);
}
