@use "material/theme" as *;

:root {
    // Smooth scrolling, for table of contents/jumping around the page
    scroll-behavior: smooth;
}

#content {
    position: absolute;
    z-index: -3;

    font-weight: $body-font;
    color: $on-surface;
    width: 100%;

    > h1 {
        font-size: $display-medium;
        font-weight: $display-font;
        margin: 0;
        margin-bottom: var(--margin);
    }

    > h2 {
        font-size: $display-small;
        font-weight: $display-font;
        margin: 0;
        margin-bottom: calc(var(--margin) / 2);
    }

    > p {
        margin: 0;
    }
}