@use "material/theme" as *;

.gallery-flex {
    --column-size: calc(calc(100% - calc(8px * calc(var(--columns) - 1))) / var(--columns));

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;

    > * {
        max-width: var(--column-size);
    }
}