<div class="navigation-rail">
{% assign navbarpages = site.pages | where: "navbar", "enabled" | sort: "order" %}
{% for navbarpage in navbarpages %}

    {% assign style = "fa-regular" %}
    {% assign id = "" %}
    {% assign classes = "navigation-page" %}
    {% assign subpages = site.pages | where: "parent", navbarpage.name | sort: "order" %}

    {% if page.name == navbarpage.name %}
        {% assign style = "fa-solid" %}
        {% assign id = "active-page" %}
    {% elsif page.parent == navbarpage.name %}
        {% assign style = "fa-solid" %}
        {% assign id = "active-page" %}
    {% endif %}

    {% if subpages.size > 0 %}
        {% assign classes = "contains-subpages " | append: classes %}
    {% endif %}

    <div class="{{ classes }}">
        <a id="{{ id }}" href="{{ navbarpage.url }}">
            <i class="{{ navbarpage.icon }} {{ style }}"></i>
            <p>{{ navbarpage.title }}</p>
        </a>
        
        {% if subpages.size > 0 %}
            <div class="navigation-drawer-modal">
                {% assign id = "" %}
                {% if page.name == navbarpage.name %}
                    {% assign id = "active-subpage" %}
                {% endif %}
                <a href="{{ navbarpage.url }}" id="{{ id }}">
                    {{ navbarpage.title }}
                </a>

                {% for subpage in subpages %}
                    {% assign id = "" %}
                    {% if page.name == subpage.name %}
                        {% assign id = "active-subpage" %}
                    {% endif %}

                    <a href="{{ subpage.url }}" id="{{ id }}">
                        {{ subpage.title }}
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endfor %}

<!-- No, you have a terrible sense of humour -->
<script>
    console.log(
        "I told you, there's no JavaScript on this site! " +
        "Why the dickens are you in the console?!?!"
    );
    console.log("...wait...");
</script>

</div>
