<div class="navigation">
    {% assign navbarpages = site.pages | where: "navbar", "enabled" | sort: "order" %}
    {% for navbarpage in navbarpages %}

    {% assign active = false %}
    {% assign subpages = site.pages | where: "parent", navbarpage.name | sort: "order" %}

    {% if page.name == navbarpage.name %}
    {% assign active = true %}
    {% elsif page.parent == navbarpage.name %}
    {% assign active = true %}
    {% endif %}

    <a {% if active %} id="active-page" {% endif %} href="{{ navbarpage.url }}">
        {% assign icon = "icons/" | append: navbarpage.icon | append: ".html" %}
        <i class="icon">{% include {{ icon }} active=active %}</i>
        <p>{{ navbarpage.title }}</p>
    </a>

    {% if subpages.size > 0 %}
    <div class="subpages navigation-drawer-modal">
        {% assign id = "" %}
        {% if page.name == navbarpage.name %}
        {% assign id = "active-subpage" %}
        {% endif %}
        <a href="{{ navbarpage.url }}" id="{{ id }}">
            {{ navbarpage.title }}
        </a>

        {% for subpage in subpages %}
        {% if subpage.title == "page.content" %}
        {{ subpage.content }}
        {% else %}
        {% assign id = "" %}
        {% if page.name == subpage.name %}
        {% assign id = "active-subpage" %}
        {% endif %}

        <a href="{{ subpage.url }}" id="{{ id }}">
            {{ subpage.title }}
        </a>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    {% endfor %}

    <!-- No, you have a terrible sense of humour -->
    <script>
        console.log(
            "I told you, there's no JavaScript on this site! " +
            "Why the dickens are you in the console?!?!"
        );
        console.log("...wait...");
    </script>

</div>
