<a href="/">BrightShard <span id="subtitle">| {{ include.title }}</span></a>

<div id="social-links">
    <a href="https://github.com/bright-shard" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-github-alt icon" aria-hidden="true"></i>
    </a>

    <a href="https://twitter.com/bright_shard" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-twitter icon" aria-hidden="true"></i>
    </a>
    
    <a href="mailto:brightshard@brightshard.dev" rel="noopener noreferrer">
        <i class="fa-solid fa-envelope icon" aria-hidden="true"></i>
    </a>
</div>
