@import "variables";

#content {
    color: $text;
    font-family: 'Roboto';

    @include round;

    .color {
        color: $primary;
    }
    .color-img {
        filter: brightness(0) saturate(100%) invert(69%) sepia(84%) saturate(894%) hue-rotate(198deg) brightness(107%) contrast(106%);
    }

    h1:not(.gallery-item h1) {
        font-size: $header-size;
        font-family: 'Roboto';
        margin: 0;
        margin-bottom: 25px;
    }
    h2:not(.gallery-item h2) {
        font-size: $header-2-size;
        font-family: 'Roboto-Medium';
        margin: 0;
        margin-bottom: 10px;
    }
    
    p:not(.gallery-item p) {
        font-size: $text-size;
        font-family: 'Roboto-Light';
    }
    
    a:not(.gallery-item) {
        color: $primary;
        text-decoration: underline;
        text-underline-offset: 2px;
    }
}
