@import "variables";

#navbar {
    background-color: $bg-two;
    position: fixed;
    z-index: 1;
}
#navbar-links {
    background-color: $bg-two;
    width: $navbar-width;

    margin: 0px;
    padding: 0px;
    padding-top: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#navbar-extras {
    height: 100%;
    width: 100%;
    background-color: $bg-two;
}

#active-navbar-page {
    i {
        background-color: $primary-bg;
        color: $primary;

        @include round(90px);
    }
    p {
        font-family: "Roboto-Medium";
    }
}
#active-navbar-page:hover > a {
    & > i {
        -webkit-text-stroke: .5px;
    }
}
.navbar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    margin-bottom: 20px;
    
    text-align: center;
    color: $secondary;

    &:not(#active-navbar-page):hover > a {
        & > i {
            background-color: $bg-three;
            -webkit-text-stroke: .5px;
        }
        & > p {
            font-family: "Roboto-Medium";
        }
        color: $primary;
    }

    a > i {
        font-size: $icon-small-size;
        transition: color .5s;
        padding: 5px 20px;

        @include round(90px);
    }

    a > p {
        font-family: 'Roboto';
        color: inherit;
        transition: color .5s;
        font-size: $navbar-text-size;
        margin: 0;
    }
}

.navbar-subpages {
    position: absolute;
    z-index: -1;
    padding: 0px 10px;
    margin: 0px;

    left: -$navbar-subpages-width;
    top: 0px;

    width: $navbar-subpages-width;
    height: 100%;

    background-color: $bg-two;

    border-style: solid;
    border-width: 0px;
    border-left-width: 2px;
    border-color: $bg-three;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    transition-duration: .4s;

    display: flex;
    flex-direction: column;
    justify-content: start;
}
.navbar-subpage {
    padding: 15px 10px;
    margin-top: 5px;
    overflow: hidden;
    width: 100%;
    text-align: left;
    
    font-family: "Roboto";
    font-size: $navbar-text-size + 2;
    white-space: nowrap;

    border-width: 0px;
    border-radius: 20px;
}
.navbar-subpage:hover {
    background-color: $bg-three;
    font-family: "Roboto-Medium";
}
#active-subpage {
    background-color: $primary-bg;
}

.contains-subpages:hover > .navbar-subpages {
    left: $navbar-width;
}
