@import "variables";

#titlebar:not(#titlebar-hidden) {
    padding: 16px 20px;
    @include round;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    #branding {
        font-size: 50px;
        font-family: 'Roboto-Black';
        color: $primary;
    
        #subtitle {
            font-family: 'Roboto-Light';
        }
    }
    
    #social-links {
        display: flex;
    
        a {
            display: flex;
            align-items: center;
    
            margin: 0 10px;
    
            color: $secondary;
            font-size: $icon-size;
            transition: color .5s, font-size .5s;
    
            &:hover {
                color: $primary;
                font-size: $icon-size + 5px;
                vertical-align: middle;
            }
        }
    }
}
