---
---

@import "main";
@import "variables";

// Blog stuffs
#content {
    display: grid;
    grid-template-columns: 1fr 300px;
}
#blog-content {
    display: block;
    margin: auto;
    max-width: 500px;

    > #title {
        font-size: $display-large;
        font-weight: $display-font;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    
    > h1 {
        font-size: $display-medium;
        font-weight: $display-font;
        margin-top: 75px;
        margin-bottom: 10px;
    }

    > h2 {
        font-size: $display-small;
        font-weight: $display-font;
        margin-top: 30px;
        margin-bottom: 5px;
    }

    > h3 {
        font-size: $headline-large;
        font-weight: $headline-font;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    > p {
        font-size: $body-large;
        font-weight: $body-font;
    }

    li {
        font-size: $body-large;
        font-weight: $body-font;
    }

    a {
        color: $primary;
        text-decoration: underline;
    }
}
#reading-menu {
    --columns: 2;
    
    margin-top: $margin;

    grid-column: 1 / span 2;
}
#toc-wrapper {
    height: min-content;
    position: sticky;
    right: $margin;
    top: $margin;

    ul {
        padding: 5px 16px;
        list-style-type: none;
    }
    a {
        text-decoration: none;
        color: $on-surface;
        transition-duration: .4s;
    }
    a:hover {
        color: $primary;
    }
}
#toc {
    padding: 0px 16px !important;
    margin: 0px;
}
