---
---

@use "material/theme" as *;

#content {
    @include not_small_screen {
        display: grid;
        grid-template-columns: 1fr 350px;

        > #title {
            grid-column: 1;
        }
        > #blog-content {
            grid-column: 1;
        }
        > #toc-wrapper {
            grid-column: 1;
        }
        > #reading-menu {
            grid-column: 1 / span 2;
        }
    }
}
#title {
    font-size: $display-large !important;
    font-weight: $display-font !important;
    display: block !important;
    margin: 0px !important;
    margin-bottom: 10px !important;
    text-align: center;
}
#blog-content {
    display: flex;
    margin: auto;
    max-width: 500px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    > h1 {
        font-size: $display-medium;
        font-weight: $display-font;
        margin-top: 75px;
        margin-bottom: 10px;
    }

    > h2 {
        font-size: $display-small;
        font-weight: $display-font;
        margin-top: 30px;
        margin-bottom: 5px;
    }

    > h3 {
        font-size: $headline-large;
        font-weight: $headline-font;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    > p {
        font-size: $body-large;
        font-weight: $body-font;
        width: 100%;
    }

    img {
        margin: 0 auto;
        display: block;
    }

    li {
        font-size: $body-large;
        font-weight: $body-font;
        margin-bottom: 7px;
    }

    a {
        color: $primary;
        text-decoration: underline;
    }
}
#reading-menu {
    --columns: 2;
    
    margin-top: var(--margin);

    > .card-filled {
        width: 100%;
        height: 100%;
    }
}
#toc-wrapper {
    height: min-content;

    @include not_small_screen {
        position: sticky;
        right: var(--margin);
        top: var(--margin);
    }
    @include small_screen {
        width: 500px;
        display: block;
        margin: 0px auto;
        margin-bottom: 20px;
    }

    ul {
        padding: 5px 16px;
        list-style-type: none;
    }
    a {
        text-decoration: none;
        color: $on-surface;
        transition-duration: .4s;
    }
    a:hover {
        color: $primary;
    }
}
#toc {
    padding: 0px 16px !important;
    margin: 0px;
    margin-top: 16px;

    > li {
        margin-bottom: 7px;
    }
}
