@import "variables";

// Construct layout based on screen size
@mixin build-layout($size) {
    @include resize($size);

    * {
        box-sizing: border-box;
    }

    body {
        // Clear spacing
        margin: 0;

        // Flexbox for organizing the website
        display: grid;
        grid-template-columns: 100px auto 0px;
        grid-template-rows: 100px auto;
        grid-column-gap: $margin;
        grid-row-gap: $margin;
    }
        
    // The navbar is in the first column and spans both rows (the whole page's height)
    #navbar {
        height: 100%;
        width: $navbar-width;
        grid-column: 1;
        grid-row: 1 / span 2;
    }
    
    // The titlebar is the second column and top row
    #titlebar {
        grid-column: 2;
        grid-row: 1;
    }

    // The page content is the second column and bottom row
    #content {
        grid-column: 2;
        grid-row: 2;
    }
}

