---
layout: default
permalink: /projects
title: My Projects
navbar: enabled
order: 2
icon: fa-folder
---

<div class="gallery-flex">
    {% for project in site.projects %}
        <div class="card-elevated">
            <img class="banner" src="/assets/project-banners/{{ project.image }}">
            <h1>{{ project.title }}</h1>
            <p>{% include desc.html content=project.content %}</p>
            <div class="actions">
                <a {% include link.html %} href="https://github.com/bright-shard/{{ project.github }}" class="button-text">View on GitHub</a>
                <a href="{{ project.url }}" class="button-outlined">Learn More</a>
            </div>
        </div>
    {% endfor %}
</div>
