<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html title="Blog" %}
        <link href="/assets/post.css" rel="stylesheet">
    </head>
    <body>
        <div id="navigation">
            {% include navigation.html %}
        </div>

        <div id="titlebar">
            {% include titlebar.html title="Blog" %}
        </div>
        
        <div id="content">
            <div id="blog-content">
                <h1 id="title">{{ page.title }}</h1>
                {{ content }}
            </div>

            <div id="toc-wrapper" class="card-filled">
                <h1>In this post...</h1>
                {% toc %}
            </div>

            <div id="reading-menu" class="gallery-flex">
                {% assign next = page.next %}
                {% if next %}
                    <div class="card-filled">
                        <h1>Next Post</h1>
                        <h2>{{ next.title }}</h2>
                        <p>{{ next.content | split: "<!--desc.start-->" | last | split: "<!--desc.end-->" | first | markdownify }}</p>
                        <div class="actions">
                            <a class="button-text" href="/blog/">All Posts</a>
                            <a class="button-outlined" href="{{ next.url }}">Read Post</a>
                        </div>
                    </div>
                {% endif %}

                {% assign previous = page.previous %}
                {% if previous %}
                    <div class="card-filled">
                        <h1>Previous Post</h1>
                        <h2>{{ previous.title }}</h2>
                        <p>{{ previous.content | split: "<!--desc.start-->" | last | split: "<!--desc.end-->" | first | markdownify }}</p>
                        <div class="actions">
                            <a class="button-text" href="/blog/">All Posts</a>
                            <a class="button-outlined" href="{{ previous.url }}">Read Post</a>
                        </div>
                    </div>
                {% endif %}
            </div>

            <a class="fab-large" href="#titlebar">
                <i class="fa-solid fa-angles-up"></i>
            </a>
        </div>
    </body>
</html>